.ophomescreen {
  position: absolute;
}

.card-horizontal {
  display: flex;
  flex: 1 1 auto;
}

.card-title {
  margin-left: 3%;
}

.card-text {
  margin-left: 3%;
}

#myCarousel {
  height: 100vh;
}

#inner {
  height: 100vh;
}

#innerImg {
  width: "100%";
  background-size: "cover";
  height: "100vh";
}

#logo {
  position: absolute;
  right: 80px;
  bottom: 100px;
  z-index: 998;
}

#top {
  position: absolute;
}

@media only screen and (max-width: 700px) {
  /* body {
    background-color: red;
  } */
  #innerImg {
    background-size: "contain" !important;
    /* width: "100%";
    height: "50vh"; */
    background-color: red;
  }

  .homescreen{
    height:25vh;
  }

  .mobile {
    display: none;
  }
}
