.ophomescreen {
  position: absolute;
}

.card-horizontal {
  display: flex;
  flex: 1 1 auto;
}

.card-title {
  margin-left: 3%;
}

.card-text {
  margin-left: 3%;
}

@media only screen and (max-width: 700px) {
  /* body {
    background-color: red;
  } */
  .mobile{
    display: none;
  }
}