body {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  max-width: 100vw;
  max-height: auto;
  min-width: 10vm;
  min-height: auto;
  /* overflow: hidden; */
}

/* *{overflow: hidden;} */

.btn:hover {
  color: #fff !important;
  text-decoration: none !important;
}


.card{
  background-color: rgb(203, 209, 209);
}

#mtn {
  margin-top: 88px;
}

@media only screen and (max-width: 700px){
  #mtn {
    margin-top: 70PX;
  }
}
